; Default server config


[server]
dns = 8.8.8.8             ; Open DNS server address to substitute (may be empty = don't change TODO)
ip = 10.128.0.2           ; Server's IP address. Refer to command # ip a

[client]
id = 0                    ; Client's ID [0-255]. Corresponding port is calculated as <prefix>|<id>
key = 00000000000000000   ; Client's AES key

[client]
id = 1                    ; Client's ID [0-255]. Corresponding port is calculated as <prefix>|<id>
key = 11111111111111111   ; Client's AES key

[client]
id = 2                    ; Client's ID [0-255]. Corresponding port is calculated as <prefix>|<id>
key = 22222222222222222   ; Client's AES key
