; Default client config


[server]
ip = 35.226.111.211       ; Server's IP address

[client]
id = 0                    ; Client's ID (0-255). Corresponding port is calculated as <prefix>|<id>
ip = 172.20.10.2          ; IP address to use as Source address of encapsulated packets
key = 00000000000000000   ; AES key

