; Default client config


[client]
port = 44888              ; Client's source port
ip =                      ; IP address to use as Source address of encapsulated packets.
                          ;   If set empty -- will be used the same Source IP from plain packets.

[server]
ip = 35.226.111.211       ; Server's IP address

[crypto]
key = 00000000000000000   ; AES key
